<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css"/>

</head>

<body>
<ul>
    <div id="hidesmall"><li><a href="./">Home</a></li></div>
    <div id="testhide"><li><a href="./recipes">Recipes</a></li></div>
    <div id="testhide"><li><a href="./unitconversion">Unit Conversion</a></li></div>
    <div id="testhide" style="float: right;"><li><a href="./login">Login</a></li></div>
    <div id="testhide" style="float: right;"><li><a href="./register">Register</a></li></div>
</ul>
<div class = "content">
    <div class="contentcontainer">
        <div class="logincontainer">    
		<h1>Login</h1>
            	<input type="text" placeholder="Enter Username" name="username" required>
            
            	<input type="password" placeholder="Enter Password" name="password" required>

	    	<button type="submit">Login</button>
	    	<label><input type="checkbox" checked="checked" name="remember">Remember me</label>
        </div>
    </div>
</div>
</body>
