<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css"/>

</head>

<body>
<ul>
    <div id="hidesmall"><li><a href="./">Home</a></li></div>
    <div id="testhide"><li><a href="./recipes">Recipes</a></li></div>
    <div id="testhide"><li><a href="./unitconversion">Unit Conversion</a></li></div>
    <div id="testhide" style="float: right;"><li><a href="./login">Login</a></li></div>
    <div id="testhide" style="float: right;"><li><a href="./register">Register</a></li></div>
</ul>
<div class = "content">
    <div class="contentcontainer">
        <div class="recipepostcontainer">
            
            <div class="userrecipe">
                <div class="recipeimg">

                </div>
                <br>
                <div class="recipetitle">

                </div>
            </div>
            <div class="userrecipe">
                test
            </div>
            <div class="userrecipe">
                test
            </div>
        </div>
    </div>
</div>
</body>
