<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./static/css/styles.css"/>
</head>

<body>
<ul>
    <div id="hidesmall"><li><a href="./">Home</a></li></div>
    <div id="testhide"><li><a href="./recipes">Recipes</a></li></div>
    <div id="testhide"><li><a href="./unitconversion">Unit Conversion</a></li></div>
    <div id="testhide" style="float: right;"><li><a href="./login">Login</a></li></div>
    <div id="testhide" style="float: right;"><li><a href="./register">Register</a></li></div>
</ul>

<div class = "content">
    <div class="contentcontainer">
        <div class="left_content">
            <div class="recipeimagecontainer">
                <a href="./liquidcups"><img src="static/images/cupspoons.jpg"><img></a>
            </div>
            <div class="recipetext">
                    <h2>Cups and Spoons</h3> <br>
                    <h3>For Liquids!</h3>
                </div>
        </div>
        <div class="right_content">
            <div class="unitconversionimagecontainer">
                <a href="./poundsounces"><img src="static/images/poundsounces.jpg"><img></a>
            </div>
            <div class="recipetext">
                <h2>Pounds and Ounces</h3> <br>
                <h3>For solids!</h3>
            </div>
        </div>
    </div>
</div>
</body>

